---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const posts = await getCollection("posts");

const { slug } = Astro.params;
const post = posts.find((post) => post.slug === slug);
if (!post) return Astro.redirect("/404");

const { Content } = await post.render();
---

<Layout
  title={post.data.title}
  description={post.data.description}
  keywords={post.data.keywords}
  image={post.data.image}
  date={post.data.date}
>
  <div class="container">
    <img
      class="w-full p-4 mx-auto max-w-5xl rounded-lg"
      src={post.data.image}
    />
    <div class="text-center space-y-4 pb-32">
      <p class="line-clamp-1">{post.data.date.toLocaleDateString()}</p>
      <h1 class="text-5xl font-bold line-clamp-1">{post.data.title}</h1>
      <p class="font-light max-w-3xl mx-auto line-clamp-3">
        {post.data.description}
      </p>
    </div>
    <div class="prose prose-lg dark:prose-invert min-w-full">
      <Content />
    </div>
  </div>
</Layout>
