---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import roberto from "@/media/Roberto.png";
import { getI18N } from "@/i18n";

const i18n = getI18N(
  Astro.currentLocale || Astro.preferredLocale || "es"
).notFound;
---

<Layout
  title={i18n.title}
  description={i18n.description}
  keywords={""}
  invisible
>
  <div
    class="h-screen flex flex-col lg:flex-row pt-20 p-10 md:p-20 gap-10 md:gap-20"
  >
    <div class="m-auto text-center space-y-5 max-w-2xl">
      <h1 class="text-primary text-5xl lg:text-8xl font-extrabold">
        {i18n.title}
      </h1>
      <h2 class="text-3xl font-bold">
        {i18n.intro}
      </h2>
      <p class="pt-5 text-xl max-w-lg mx-auto">
        {i18n.description}
      </p>
    </div>
    <div class="m-auto">
      <Image
        alt=""
        class="object-contain pb-10 lg:pb-0 w-[500px] xl:w-[600px] mx-auto"
        src={roberto}
        width={700}
        height={700}
        loading="eager"
      />
    </div>
  </div>
</Layout>
