---
import { Image } from "astro:assets";
import ContactForm from "@/components/ContactForm";
import Layout from "@/layouts/Layout.astro";
import caixaBankArticle from "@/media/articles/caixaBankArticle.jpg";
import { getI18N } from "@/i18n";

const contactFormI18n = getI18N(Astro.currentLocale || "es").contactForm;
const i18n = getI18N(Astro.currentLocale || "es").aboutUs;
---

<Layout
  title={i18n.title}
  description={i18n.description}
  keywords={i18n.keywords}
  image="/media/articles/caixaBankArticle.jpg"
  section="/about-us"
>
  <Image
    src={caixaBankArticle}
    alt="Caixa Bank"
    class="max-w-sm md:max-w-4xl mx-auto my-10"
    loading="eager"
  />

  <div
    class="max-w-4xl mx-auto prose prose-lg prose-blockquote:border-gray-500 dark:prose-invert p-2"
  >
    <h1>{i18n.content.section1.heading}</h1>
    <blockquote>
      {i18n.content.section1.blockquote}
    </blockquote>
    <p>
      {i18n.content.section1.paragraphs[0]}
    </p>
    <p>
      {i18n.content.section1.paragraphs[1]}
    </p>

    <blockquote class="text-5xl">
      {i18n.content.section2.blockquote}
    </blockquote>
    <p>
      {i18n.content.section2.paragraphs[0]}
    </p>
    <h2>{i18n.content.section3.heading}</h2>
    <p>
      {i18n.content.section3.paragraphs[0]}
    </p>

    <blockquote class="text-5xl text-right border-l-0 border-r-4 pr-5">
      {i18n.content.section4.blockquote}
    </blockquote>

    <p>
      {i18n.content.section4.paragraphs[0]}
    </p>
    <h2>{i18n.content.section5.heading}</h2>
    <p>
      {i18n.content.section5.paragraphs[0]}
    </p>
  </div>

  <ContactForm i18n={contactFormI18n} client:load />
</Layout>
