---
import Card from "@/components/Card.astro";
import { getI18N } from "@/i18n";
import Layout from "@/layouts/Layout.astro";

const i18n = getI18N(Astro.currentLocale || "es").homepage;
const commitmI18n = getI18N(Astro.currentLocale || "es").commitmentsPage;
---

<Layout
  title={i18n.title}
  description={i18n.description}
  keywords={i18n.keywords}
>
  <div class="container mx-auto p-5 space-y-5">
    <h2 class="text-5xl font-bold">{commitmI18n.header}</h2>

    <p class="text-lg text-foreground">
      {commitmI18n.intro}]
    </p>

    <p class="text-lg text-foreground">
      {commitmI18n.creativeCall}
      <a
        class="text-primary underline"
        href="https://www.behance.net/gallery/125864213/ecoDeliver-Brand-Guidlines-20"
        >Behance!</a
      >
    </p>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-5">
      <Card
        title={commitmI18n.cards[0].title}
        picture="/media/brand/manual.png"
        description={commitmI18n.cards[0].description}
        cta={commitmI18n.cta}
        href="/media/compromises/anticorrupcion.pdf"
        download="ecoDeliver_anticorrupcion.pdf"
      />

      <Card
        title={commitmI18n.cards[1].title}
        picture="/media/brand/manual.png"
        description={commitmI18n.cards[1].description}
        cta={commitmI18n.cta}
        href="/media/compromises/codigo_etico.pdf"
        download="ecoDeliver_codigo_etico.pdf"
      />

      <Card
        title={commitmI18n.cards[2].title}
        picture="/media/brand/manual.png"
        description={commitmI18n.cards[2].description}
        cta={commitmI18n.cta}
        href="/media/compromises/politica_proteccion_cliente.pdf"
        download="ecoDeliver_politica_proteccion_cliente.pdf"
      />

      <Card
        title={commitmI18n.cards[3].title}
        picture="/media/brand/manual.png"
        description={commitmI18n.cards[3].description}
        cta={commitmI18n.cta}
        href="/media/compromises/plan_igualdad.pdf"
        download="ecoDeliver_plan_igualdad.pdf"
      />
    </div>
  </div>
</Layout>
