---
import Card from "@/components/Card.astro";
import { getI18N } from "@/i18n";
import Layout from "@/layouts/Layout.astro";

const i18n = getI18N(Astro.currentLocale || "es").homepage;
const corporateImageI18n = getI18N(
  Astro.currentLocale || "es"
).corporateImagePage;
---

<Layout
  title={i18n.title}
  description={i18n.description}
  keywords={i18n.keywords}
  image="/media/brand/manual.png"
>
  <div class="container mx-auto p-5 space-y-5">
    <h2 class="text-5xl font-bold">{corporateImageI18n.header}</h2>

    <p class="text-lg text-foreground">
      {corporateImageI18n.intro}
    </p>

    <p class="text-lg text-foreground">
      {corporateImageI18n.creativeCall}
      <a
        class="text-primary underline"
        href="https://www.behance.net/gallery/125864213/ecoDeliver-Brand-Guidlines-20"
        >Behance!</a
      >
    </p>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-5">
      <Card
        title={corporateImageI18n.cards[0].title}
        picture="/media/brand/manual.png"
        description={corporateImageI18n.cards[0].description}
        cta={corporateImageI18n.cta}
        href="/media/brand/manual.pdf"
        download="ecoDeliver_brand_manual.pdf"
      />

      <Card
        title={corporateImageI18n.cards[1].title}
        picture="/media/brand/logo.png"
        description={corporateImageI18n.cards[1].description}
        cta={corporateImageI18n.cta}
        href="/media/brand/logo.zip"
        download="ecoDeliver_brand_logo.zip"
      />

      <Card
        title={corporateImageI18n.cards[2].title}
        picture="/media/brand/typography.png"
        description={corporateImageI18n.cards[2].description}
        cta={corporateImageI18n.cta}
        href="https://fonts.google.com/specimen/Urbanist?query=urbanist"
      />

      <Card
        title={corporateImageI18n.cards[3].title}
        picture="/media/brand/logo.png"
        description={corporateImageI18n.cards[3].description}
        cta={corporateImageI18n.cta}
        href="/media/brand/support-lines.zip"
        download="ecoDeliver_brand_support_lines.zip"
      />
    </div>
  </div>
</Layout>
