---
import ContactForm from "@/components/ContactForm";
import Layout from "@/layouts/Layout.astro";
import { HeroGemini } from "@/components/HeroGemini";
import { TechCard } from "@/components/TechCard";
import { getI18N } from "@/i18n";

const contactFormI18n = getI18N(Astro.currentLocale || "es").contactForm;
const i18n = getI18N(Astro.currentLocale || "es").technologies;
---

<Layout
  title={i18n.title}
  description={i18n.description}
  keywords={i18n.keywords}
>
  <!-- Hero section -->
  <HeroGemini i18n={i18n.heroSection} client:load />

  <!-- Features -->
  <section>
    <div class="container px-6 py-10 mx-auto">
      <h1 class="text-4xl font-semibold lg:text-3xl text-center">
        {i18n.featuresTitle}
      </h1>

      <p class="mt-4 xl:mt-6 text-muted-foreground text-center">
        {i18n.featuresDescription}
      </p>

      <div
        class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3"
      >
        <div class="p-8 space-y-3 border-2 border-primary rounded-xl">
          <span class="inline-block text-primary">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="size-8"><path d="M18 7V4H6l6 8-6 8h12v-3"></path></svg
            >
          </span>

          <h1 class="text-xl font-semibold">
            {i18n.features[0].title}
          </h1>

          <p>
            {i18n.features[0].description}
          </p>
        </div>

        <div class="p-8 space-y-3 border-2 border-primary rounded-xl">
          <span class="inline-block text-primary">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-8 h-8"
              ><path d="M12 8V4H8"></path><rect
                width="16"
                height="12"
                x="4"
                y="8"
                rx="2"></rect><path d="M2 14h2"></path><path d="M20 14h2"
              ></path><path d="M15 13v2"></path><path d="M9 13v2"></path></svg
            >
          </span>

          <h1 class="text-xl font-semibold">
            {i18n.features[1].title}
          </h1>

          <p>
            {i18n.features[1].description}
          </p>
        </div>

        <div
          class="p-8 space-y-3 border-2 border-primary rounded-xl col-span-1 md:col-span-2 xl:col-span-1"
        >
          <span class="inline-block text-primary">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="size-8"
              ><circle cx="12" cy="4.5" r="2.5"></circle><path
                d="m10.2 6.3-3.9 3.9"></path><circle cx="4.5" cy="12" r="2.5"
              ></circle><path d="M7 12h10"></path><circle
                cx="19.5"
                cy="12"
                r="2.5"></circle><path d="m13.8 17.7 3.9-3.9"></path><circle
                cx="12"
                cy="19.5"
                r="2.5"></circle></svg
            >
          </span>

          <h1 class="text-xl font-semibold">
            {i18n.features[2].title}
          </h1>

          <p>
            {i18n.features[2].description}
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="h-[80vh] lg:h-screen md:p-10">
    <TechCard className="font-bold" client:load>
      <div
        class="text-4xl md:text-[8rem] lg:text-[10rem] md:leading-[8rem] lg:leading-[10rem] uppercase pb-10 md:pb-32 font-bold bg-gradient-to-r text-transparent bg-clip-text from-primary to-teal-500 -z-10 max-w-5xl"
      >
        <h2 class="text-center">{i18n.goalSection.title}</h2>
      </div>
      <div class="text-xl md:text-4xl max-w-5xl p-5 space-y-3">
        <h3>
          {i18n.goalSection.description[0]}
        </h3>

        <h3>{i18n.goalSection.description[1]}</h3>

        <h3>{i18n.goalSection.description[2]}</h3>
      </div>
    </TechCard>
  </section>

  <ContactForm i18n={contactFormI18n} client:load />
</Layout>
