---
interface Props {
  title: string;
  picture: string;
  description: string;
  cta: string;
  href: string;
  download?: string;
}

const { title, picture, description, cta, href, download } = Astro.props;
---

<div class="space-y-5">
  <img
    src={picture}
    alt=""
    class="object-cover"
    height={1080 / 3}
    width={1920 / 3}
  />
  <div class="space-y-2">
    <h3 class="font-semibold text-xl line-clamp-1">{title}</h3>
    <p class="text-muted-foreground line-clamp-3 max-w-xl">{description}</p>

    <a
      href={href}
      class="inline-block mt-4 text-primary underline hover:text-primary/50"
      download={download ? download : null}
    >
      {cta}
    </a>
  </div>
</div>
