---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
interface Props {
  title: string;
  description: string;
  keywords: string;
  image: string;
  date?: Date;
}
const { title, description, keywords, image, date } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/media/brand/logo.svg" />
    <title>{title}</title>
    {date && <meta name="date" content={date.toISOString()} />}

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={Astro.url.pathname} />
    <meta property="og:type" content="website" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
  </head>

  <body class="dark">
    <Navbar />

    <div class="min-h-screen">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
</style>
